### 입력문 input()과 문자열함수

#### 1번
input()은 입력받은 정보를 반드시 stirng(문자열)의 형태로 전환한다. 따라서 아래 예시의 경우, a * b는 문자열끼리의 곱셈 연산을 시도한 것이기 때문에 에러가 발생한다.

In [ ]:
a = input()
b = input()
print(a * b)

1
2

TypeError: can't multiply sequence by non-int of type 'str'

이러한 에러를 방지하기 위해서는 input()을 통해서 입력받은 수를 정수타입으로 타입(type)을 변화시켜야 한다. 이 때 사용하는 함수가 int() 함수이다.

아래 예시에서는 int()를 활용하여 input()을 통해 입력받은 수를 정수형으로 형변환을 한다. 이 후, 변환된 정수형 변수를 저장하여 문자열끼리의 곱에 의한 에러를 방지한다.

In [ ]:
a = int(input())
b = int(input())
print(a * b)

2
3
6

#### 2번
2017년 지수의 나이는 20살이다. 년도를 입력하면 해당년도의 지수의 나이를 출력해주는 프로그램을 작성하시오.

In [ ]:
a = input("년도를 입력하세요 : ")
b = int(a) - 1997
print(a, '년 지수의 나이는', b, '세입니다.')

년도를 입력하세요 : 2055
2055 년 지수의 나이는 58 세입니다.

In [ ]:
year = int(input())
print('년도를 입력하세요 : ', year)
age = year - 1997
print(year, '년 지수의 나이는', age, '세입니다.')

2055
년도를 입력하세요 :  2055
2055 년 지수의 나이는 58 세입니다.

### 3번
input()은 줄 바꿈을 하면 기능이 완료된다. 따라서 a = input()에서 '30 40'이라는 입력을 하면, a에는 '30 40'이라는 문자열이 입력된다. 그렇다면 두 개의 수를 각각 입력하고 싶다면 어떻게 해야 할까?

하나의 input()을 이용하여 숫자 2개를 입력 받은 후, 아래와 같이 두 수를 합한 결과를 출력하는 프로그램을 작성하시오. (숫자 두 개는 공백으로 나눠지도록 입력된다고 가정)

힌트 : 공백으로 문자열을 나누는 문자열 함수를 사용

In [ ]:
a = input("두 수를 입력하세요 :").split()

두 수를 입력하세요 :13 56

In [ ]:
a

['13', '56']

In [ ]:
type(a)

list

In [ ]:
b = int(a[0]) + int(a[1])

In [ ]:
print("입력한 두 수의 합은", b)

입력한 두 수의 합은 69

In [ ]:
a = input("두 수를 입력하세요 :").split()
b = int(a[0]) + int(a[1])
print("입력한 두 수의 합은", b)

두 수를 입력하세요 :13 56
입력한 두 수의 합은 69

In [ ]:
a = int(input())
b = int(input())
print('두 수를 입력하세요 : ', a, b)
print('입력한 두 수의 합은 ', a + b)

13
56
두 수를 입력하세요 :  13 56
입력한 두 수의 합은  69

### 4번
수를 4개 입력받아 평균과 분산을 계산해주는 프로그램을 작성하시오.

평균( y = x1 + x2 + x3 + x4 / 4)
분산 [(x1 - y) ** 2 + (x2 - y) ** 2 + (x3 - y) ** 2 + (x4 - y) ** 2] / 4

In [ ]:
a,b,c,d = input("네 수를 입력하세요:").split()

avg = (int(a)+int(b)+int(c)+int(d))/4
var = (((int(a)-avg)**2)+((int(b)-avg)**2)+((int(c)-avg)**2)+((int(d)-avg)**2))/4

print("평균:",avg,"분산:",var)

### list
#### 1번
리스트는 파이썬에서 가장 많이 활용되는 컬렉션답게, 이를 쉽게 조작하기 위해 제공되는 함수가 매우 다양하다. 물론 이 많은 함수들을 모두 외울 필요는 없지만, 알고 있으면 매우 편리할 것이다.

1. 리스트 변수명 뒤에 '.'을 붙여서 사용하는 함수
- list.index(obj)
- list.append(obj)
- list.insert(index, obj)
- list.extend(obj)
- list.sort()
- list.reverse()
- list.pop()
- list.remove(obj)
- list.count(obj)

2. 괄호 안에 리스트 변수를 넣어서 사용하는 함수
- len(list)
- max(list)
- min(list)
- sum(list)
- sorted(list)
- list(seq)

#### 2번
list의 내장 함수를 사용하여 numbers = [12.26, 5, 426.3, 0.221]의 항목의 개수, 최대값, 최솟값, 항목들의 합, 그리고 정렬된 리스트를 출력하는 프로그램을 작성하시오.

In [ ]:
numbers = [12.26, 5, 426.3, 0.221]

#항목의 개수
print(len(numbers))

#리스트 내 최대값
print(max(numbers))

#리스트 내 최솟값
print(min(numbers))

#항목들의 합
#print(sum(numbers)) > 계속 오류남

#항목 정렬
print(sorted(numbers))

4
426.3
0.221
[0.221, 5, 12.26, 426.3]

### 3번
다음 프로그램의 출력결과를 적으시오.

In [ ]:
friends = ['Julio', 'Kane', 'Kaka', 'Messi']
legends = ['Ronaldo', 'Henry', 'Beckham']

print(friends)

sub = friends[1] + friends[3]
print(sub)

print(friends[0:4])
print(legends[1:2])
print(friends[1:3] + legends[0:2])

['Julio', 'Kane', 'Kaka', 'Messi']
KaneMessi
['Julio', 'Kane', 'Kaka', 'Messi']
['Henry']
['Kane', 'Kaka', 'Ronaldo', 'Henry']

### 4번
다음 프로그램의 출력결과를 적으시오.

In [ ]:
myList = [[1, 2], 'samsung', 2.5, 'A']
print(myList)
print(myList[0])
print(myList[1][2])
print(myList[1:3])
print(myList[ :2])

[[1, 2], 'samsung', 2.5, 'A']
[1, 2]
m
['samsung', 2.5]
[[1, 2], 'samsung']

### 5번
리스트 year에 연도, population에 서울시 인구수가 저장되어있습니다. 다음 소스코드를 완성하여 최근 3년간 연도와 인구수가 리스트로 출력되게 만드세요.

In [ ]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[-3:])
print(population [-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

다음 소스코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [ ]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

n = n[1], n[3], n[5], n[7], n[9], n[11]

print(n)

(75, -10, 32, -15, 76, 2)

### 6번
표준입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다.(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음.) 다음 소스코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [ ]:
x = "1 2 3 4 5 6 7 8 9 10"
tuple(x.split(' ')[0:5])

('1', '2', '3', '4', '5')

In [ ]:
x = "oven bat pony total leak wreck curl crop space navy loss knee"
tuple(x.split(' ')[0:7])

('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')